SPRING_PROFILES_ACTIVE=prod
JAVA_OPTS=-Xms256m -Xmx512m
COLLECTOR_TDENGINE_URL=jdbc:TAOS-RS://127.0.0.1:6041/wangbin_collector
COLLECTOR_TDENGINE_USERNAME=root
COLLECTOR_TDENGINE_PASSWORD=change-me
COLLECTOR_REDIS_HOST=127.0.0.1
COLLECTOR_REDIS_PORT=6379
COLLECTOR_REDIS_PASSWORD=
COLLECTOR_CONFIG_YUN_URL=http://127.0.0.1:48080/admin-api
COLLECTOR_CONFIG_API_TOKEN=
COLLECTOR_REPORT_MQTT_BROKER_URL=tcp://127.0.0.1:1883
COLLECTOR_REPORT_MQTT_CLIENT_ID=collector-1
COLLECTOR_REPORT_MQTT_USERNAME=
COLLECTOR_REPORT_MQTT_PASSWORD=
COLLECTOR_REPORT_GATEWAY_PRODUCT_KEY=change-me
COLLECTOR_REPORT_GATEWAY_DEVICE_NAME=collector-1